---
---
/*
 * This file controls what is imported from /_sass
 */
@import "custom";
@import "vendor/breakpoint/breakpoint";

@import "themes";
@import "theme/{{ site.site_theme | default: 'default' | append: '_light' }}";
@import "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}";

@import "include/mixins";
@import "vendor/susy/susy";

@import "layout/reset";
@import "layout/base";

@import "include/utilities";
@import "layout/tables";
@import "layout/buttons";
@import "layout/notices";
@import "layout/masthead";
@import "layout/navigation";
@import "layout/footer";
@import "syntax";

@import "layout/forms";

@import "layout/page";
@import "layout/archive";
@import "layout/sidebar";
@import "layout/json_cv";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
